.menu {
  width: 200px;
  height: 100%;
  padding-top: 10px;
  background-color: #444;

  h1 {
    margin-left: 15px;
    margin-bottom: 10px;
  }

  .no-timers {
    text-align: center;
  }

  .add-timer {
    margin-top: 10px;
    text-align: center;
  }
}
